/* :root {
  --sm: 480px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1200px;
  --xxl: 1400px;
}
@media screen and (max-width: var(--sm)) {
  @content;
}
@media screen and (max-width: var(--md)) {
  @content;
}
@media screen and (max-width: var(--lg)) {
  @content;
}
@media screen and (max-width: var(--xl)) {
  @content;
}
@media screen and (max-width: var(--xxl)) {
  @content;
} */
