.landing-page {
  height: 100vh;

  padding: 20px;
  color: rgb(255, 255, 255);

  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=010101&c2=2985ff&gt=r&gd=dtt
*/
}
.landing-text {
  width: 70%;
  margin: 200px auto;
  h1 {
    font-size: 92px;
    font-weight: 900;
    font-family: Inter;
    text-align: center;
  }
}
h1 span {
  text-align: center;
  font-size: 92px;
  font-weight: 900;
  font-family: Inter;
  text-align: center;
}
.bg {
  background: url("/public/mesh-820\ \(1\).png");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(4px);
}
