.landing-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  .navbar {
    .user {
      display: none;
    }
  }
  color: rgb(255, 255, 255);
  .bg {
    height: 100%;
  }
  .footer {
    position: fixed;
    left: 0px;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=010101&c2=2985ff&gt=r&gd=dtt
*/
}
.landing-text {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  h1 {
    font-size: 72px;
    font-weight: 900;
    font-family: Inter;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    margin: auto;
  }
  .copyline {
    width: 80%;
  }
  button {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(249, 249, 249, 0.279);
    padding: 12px 50px;
    border-radius: 4px;
    font-weight: 700;
  }
}
.scnshot {
  width: 90%;
}
