:root {
  --main-bg: #2a3447;
  --soft-bg: #384256;
  --dark-bg: #222b3c;
  --main-color: white;
  --soft-color: #ddd;
  --dark-color: #2a3447;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: var(--main-bg);
  color: var(--main-color);
}
.container {
  display: flex;
}
.menuContainter {
  width: 250px;
  padding: 5px 20px;
  border: 2px solid green;
  display: grid;
}
.contentContainer {
  padding: 5px 20px;
  width: 100%;
}
