.home {
  height: 100vh;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(180px, auto);
}
.box {
  padding: 20px;
  background-repeat: 10px;
  border: 1px solid var(--soft-bg);
}
