.dataTable {
  .dataGrid {
    background: #2a3447;
    padding: 20px;
  }
  img {
    width: 40px;
  }
  .toolbarContainer {
    flex-direction: row-reverse;
  }
}
.action {
  display: flex;
  gap: 15px;
  cursor: pointer;
  img {
    width: 20px;
    height: 20px;
  }
}
